{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title> Real or Fake? Fake News Classifier </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>
    <div class="enterurl">
      <h1>Real or Fake? Fake News Classifier</h1>
      <form action={% url 'predict' %} method="POST">
         {% csrf_token %}
        <input type="text" id=url name="url" placeholder="Enter news URL here" required="required" />
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Make Prediction</button>
      </form>
      {{ predict_value }}

    </div>

  </body>
</html>
