{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title> Real or Fake? Fake News Classifier </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">

    <link rel="stylesheet" href="{% static '/css/style.css' %}">

  </head>

  <body>
    <div class="enterurl">
      <h1>Real or Fake? Fake News Classifier</h1>
      <form method="post">
        <input type="text" id=url name="urltext" placeholder="Enter news URL here">
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Make Prediction</button>
      </form>
    </div>

  </body>
</html>
